/*Wrapping element for Sticky-Footer*/
html {
	min-height: 100%;
	position: relative;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 180px;
	background: #60686d;
}

.error-bg {
	background: url(../../img/error/error-v7.jpg) no-repeat scroll center center / cover;
	padding-bottom: 230px;
}

/*page 404 error 6
------------------------------------*/
.error-v7 {
	text-align: center;
	padding: 60px 0;
}

.error-v7 h1 {
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 300;
	line-height: 1.2;
	color: #000;
	margin-bottom: 30px;
}

.error-v7 span.sorry {
	color: #666;
	display: block;
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 50px;
}

.error-v7 .h1 {
	color: #fff;
	font-size: 280px;
	line-height: 1;
	font-weight: 300;
	text-shadow: 2.828px 2.828px 4px rgba(0, 0, 0, 0.04);
}

/*For Mobile Devices*/
@media (max-width: 600px) {
	.error-v7 .h1 {
		font-size: 170px;
	}
}

.error-v7 span.input-group-btn .btn-u {
	width: 168px;
	height: 45px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 14px;
	padding: 12px;
}

/*Sticky-Footer
------------------------------------*/
.sticky-footer {
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	padding: 50px 20px;
  	/* Set the fixed height of the footer here */
  	height: 180px;
  	background: #fff;
  	text-align: center;
}

/*social links*/
.sticky-footer .social-links li {
	display: inline;
	padding: 10px;
}

.sticky-footer .social-links li a {
	background: #3048A0;
	border-radius: 50%;
}

.sticky-footer .social-links li a:hover {
	background: #67bf19;
}

.sticky-footer .social-links li a.fb {
	padding: 14px 14px 9px;
}

.sticky-footer .social-links li a.tw {
	padding: 16px 11px 9px;
}

.sticky-footer .social-links li a.gp {
	padding: 16px 8px 9px;
}

.sticky-footer .social-links li i.fa {
	font-size: 22px;
	color: #fff;
}

.sticky-footer .copyright-space {
	color: #8b9195;
	text-align: center;
	font-size: 16px;
}
