/* Add here all your css styles (customizations) */
.margin-auto {
  margin: 0 auto;
}
.txtIndent-30 {
  text-indent: 30px;
}
/*Tabs*/
.panel {
  box-shadow: none;
  border: none;
}
.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none;
}
.acc-v1 .panel-heading a {
  font-size: 12px;
  padding: 30px 0 15px;
  background: #fff;
  color: #3048a0;
  border-bottom: 2px solid #3048a0;
  text-transform: uppercase;
  font-weight: bold;
}
.acc-v1.plus-toggle .panel-heading a.collapsed {
  color: #2c2c2c;
  border-bottom: 2px solid #efefef;
}
.acc-v1 .panel-heading a .tab-icon {
  font-size: 12px;
  color: #f00;
}
.acc-v1 .panel-heading a:hover {
  text-decoration: none;
  color: #3048a0;
}
.acc-v1.plus-toggle .panel-heading a.collapsed:hover {
  color: #2c2c2c;
}

.tab__icon {
  font-size: 23px;
  color: #3048a0;
  vertical-align: middle;
}

.panel-body {
  padding: 20px 0 0;
}
.panel-body p {
  line-height: 1.7;
  font-size: 14px;
  color: #a7a7a7;
  margin-bottom: 0;
}

.panel-heading {
  position: relative;
}
/* Plus Toggle */
.acc-v1.plus-toggle .panel-heading a:before {
  color: #3048a0;
  font-size: 12px;
  content: "\f063";
  line-height: 12px;
  position: absolute;
  right: 0;
  top: 36px;
  background: transparent;
  font-family: FontAwesome;
}
.acc-v1.plus-toggle .panel-heading a.collapsed:before {
  content: "\f061";
}
.tab__icon {
  font-size: 23px;
  color: #3048a0;
  vertical-align: middle;
}
.g-mr-10 {
  margin-right: 10px;
}
/* --------------------------------------------------
    [6. Recent projects]
---------------------------------------------------- */
.project__cat {
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.project__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.project__img {
  box-shadow: 2px 2px 2px #cd9d18;
}

.project__text {
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
  line-height: 1.8;
}
